syntax: glob
*~
*.pyc
.DS_Store
Thumbs.db
abbrev_defs
zsh/aliases.hosts

# emacs
*.elc
emacs.d/elpa/archives
ac-comphist.dat
auto-save-list

# ipython
ipython/profile_*/db
ipython/profile_*/history.sqlite
ipython/profile_*/log
ipython/profile_*/pid
ipython/profile_*/security

# site mechanism
zsh/site-*

# sbt
sbt/boot
sbt/target
