syntax: glob
*~
*.elc
*.pyc
.DS_Store
Thumbs.db
abbrev_defs
ac-comphist.dat
auto-save-list
zsh/aliases.hosts
emacs.d/elpa/

# ipython
ipython/profile_*/db
ipython/profile_*/history.sqlite
ipython/profile_*/log
ipython/profile_*/pid
ipython/profile_*/security

# site mechanism
zsh/site-*
