*~
*.pyc
.DS_Store
Thumbs.db
abbrev_defs

# Zshell
home/.zsh/aliases.hosts

# emacs
*.elc
home/.emacs.d/.cask
home/.emacs.d/elpa
home/.emacs.d/tramp
home/.emacs.d/url/cookies
ac-comphist.dat
auto-save-list

# ipython
home/.ipython/profile_*/db
home/.ipython/profile_*/history.sqlite
home/.ipython/profile_*/log
home/.ipython/profile_*/pid
home/.ipython/profile_*/security

# site mechanism
home/.zsh/site-*

# sbt
home/.sbt/boot
home/.sbt/*/boot
home/.sbt/*/target
