'editor':
  'fontSize': 16
'core':
  'themes': [
    'atom-dark-ui'
    'atom-dark-syntax'
  ]
'exception-reporting':
  'userId': '0f5e5d14-4d7c-528e-9142-83f7897d32a0'
'release-notes':
  'viewedVersion': '0.95.0'
'welcome':
  'showOnStartup': false
'metrics':
  'userId': '9e71a78d196936ec8870b274df7805e856c44d03'
