'.workspace .editor':
  'ctrl-a': 'editor:move-to-first-character-of-line'
  'ctrl-e': 'editor:move-to-end-of-line'
  'ctrl-d': 'core:delete'
  'ctrl-h': 'core:backspace'
  'ctrl-k': 'editor:cut-to-end-of-line'

'.workspace .editor:not(.mini)':
  'ctrl-/': 'core:undo'
  'ctrl-shift-/': 'core:redo'
  # workaround for unrecognizing ctrl-shift-/
  'ctrl-?': 'core:redo'
